* {
  /* box-sizing: border-box; */
  font-family: 'Ubuntu Light', 'Century Gothic', sans-serif;
  margin: 0;
  padding: 0;
  color: #393939;
  background-color: #FDFDF3 ;
}

h1 {
  text-shadow: 1px 2px 2px rgba(28,146,164,0.65);
}
.mainContainer {
  /* background-color: #FEFECD; */
  background: #A4A445;
background: -moz-linear-gradient(top, #A4A445 0%, #76CBB5 65%, #677475 100%);
background: -webkit-linear-gradient(top, #A4A445 0%, #76CBB5 65%, #677475 100%);
background: linear-gradient(to bottom, #A4A445 0%, #76CBB5 65%, #677475 100%);
  width: 800px;
  height: 500px;
    margin: 0 auto;
    padding: 20px 10px;
    box-shadow: 10px 15px 39px rgba(0, 0, 0, .2);
    border-radius: 5px;
  display: flex;
  direction: row;
  border: #393939;
  justify-content: space-around
}
.leftContainer {
  box-shadow: 10px 15px 39px rgba(0, 0, 0, .2);
width:350px;
border-radius: 5px 5px 5px 5px ;
} 
.rightContainer {
  box-shadow: 10px 15px 39px rgba(0, 0, 0, .2);
  width: 350px;
  /* -webkit-border-radius: 5px; */
border-radius: 5px 5px 5px 5px ;
  
} 
.searchContainer {
  padding: 10px 10px;
  box-shadow: 10px 15px 39px rgba(0, 0, 0, .2);
  border-radius: 5px;
  max-width: 400px;
  background: #A4A445;
background: -moz-linear-gradient(45deg, #A4A445 0%, #76CBB5 65%, #677475 100%);
background: -webkit-linear-gradient(45deg, #A4A445 0%, #76CBB5 65%, #677475 100%);
background: linear-gradient(45deg, #A4A445 0%, #76CBB5 65%, #677475 100%);
}
.favsContainer {
  padding: 10px 10px;
  box-shadow: 10px 15px 39px rgba(0, 0, 0, .2);
  border-radius: 5px;
  max-width: 400px;
  background: #A4A445;
background: -moz-linear-gradient(45deg, #A4A445 0%, #76CBB5 65%, #677475 100%);
background: -webkit-linear-gradient(45deg, #A4A445 0%, #76CBB5 65%, #677475 100%);
background: linear-gradient(45deg, #A4A445 0%, #76CBB5 65%, #677475 100%);
height:480px
}

h2, h5 {
  background: -moz-linear-gradient(45deg, #A4A445 0%, #76CBB5 65%, #677475 100%);
  border-radius: 5px 5px 5px 5px;
  text-shadow: 1px 2px 2px rgba(28,110,164,0.37);
}
h3, #favs{
  border-radius: 5px 5px 5px 5px;
  align-content: center;
  padding: 10px 10px;
  text-shadow: 1px 2px 2px rgba(28,110,164,0.37);
  box-shadow: 2px 2px 7px 1px rgba(28,110,164,0.41);
}
#favs {
  height:460px;
  padding: 10px 10px;
  box-shadow: 10px 15px 39px rgba(0, 0, 0, .2);
  border-radius: 5px;
}
.favs, .recs{
  box-shadow: 2px 2px 7px 1px rgba(28,110,164,0.41);
}
.searchInput {
  border-radius: 5px 5px 5px 5px;
  padding: 5px
}

#recsBox{
  border-radius: 5px 5px 5px 5px;
  height: 325px;
}

#searchButton,#category  {
    color: rgb(35, 35, 34); font-size: 10px; line-height: 8px; padding: 5px; border-radius: 6px;  font-weight: bold; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(rgb(66, 157, 164) 0%, rgb(203, 199, 128) 100%, rgb(26, 103, 117) 100%); box-shadow: 2px 2px 7px 1px rgba(28,110,164,0.41);; border: 0.5px solid rgb(28, 110, 164); display: inline-block;}
    #searchButton:hover {
    background: #429DA4; }
    .searchButton:active {
    background: #1A6775; }

    #add {
        color: rgb(35, 35, 34); font-size: 10px; line-height: 10px; padding: 2px; border-radius: 20px; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none;  box-shadow: rgba(6, 63, 63, 0.2) 5px 3px 7px 3px; border: 0.5px solid rgb(28, 110, 164); display: inline-block;}
        #add:hover {
        background: #A4A44A; }
        #add:active {
        background: #070C75; }

title {
  margin: 0;
    font-family: "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    color: black
    
}